<div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5 align-items-center bg-white">
        <div class="wow fadeIn" data-wow-delay="0.5s">
            <h1>Privacy Policy</h1>
            <p>
                At SurvCloud, we take your privacy seriously. This Privacy Policy describes how we collect, use, and share your personal information when you use our website.
            </p>
            <h3>Information We Collect</h3>
            <p>
                We collect personal information that you provide to us, such as your name, email address, and resume, when you create an account on our website, apply for a job, or contact us for support. We also collect information about your device and how you use our website, such as your IP address, browser type, and pages viewed.
            </p>
            
            <h3>How We Use Your Information</h3>
            <p>
                We use your personal information to provide our services, including to match you with job opportunities and to help employers find top talent. We also use your information to communicate with you about your account, job applications, and our services. We may also use your information to improve our website and to comply with legal obligations.
            </p>
            
            <h3>How We Share Your Information</h3>
            <p>
                We may share your personal information with employers and other third parties who use our platform to find job candidates or to provide services to us. We may also share your information with our service providers who assist us in providing our services, such as hosting, data analysis, and customer support. We may share your information as required by law or to protect our legal rights.
            </p>
            
            <h3>Your Choices</h3>
            <p>
                You can update your personal information and communication preferences at any time by logging into your account or by contacting us at [Your Company Contact Email]. You may also opt-out of receiving marketing communications from us by following the instructions in the communication.
            </p>
            
            <h3>Security</h3>
            <p>
                We take reasonable measures to protect your personal information from unauthorized access, use, or disclosure. However, no security measures are perfect, and we cannot guarantee the security of your information.
            </p>
            
            <h3>Changes to this Policy</h3>
            <p>
                We may update this Privacy Policy from time to time. The updated policy will be posted on our website, and we will notify you of any material changes.
            </p>
            
            <h3>Contact Us</h3>
            <p>
                If you have any questions or concerns about this Privacy Policy, please contact us at [Your Company Contact Email].
            </p>
            
        </div>
      </div>
    </div>
  </div>