<div class="container-xxl py-5">
    <div class="container">
      <div class="row g-5 align-items-center bg-white">
        <div class="wow fadeIn" data-wow-delay="0.5s">
            <h1>Terms of Service</h1>
            <p>
                Welcome to Surv Technologies LLC. These Terms of Service (“TOS”) govern your use of our website and services. By using our website, you agree to be bound by these TOS.
            </p>
            <h2>Use of Our Website</h2>
<p>
	You may use our website and services only for lawful purposes and in accordance with these TOS. You agree not to use our website for any unlawful purpose or to engage in any activity that interferes with or disrupts our services.
</p>

<h2>Intellectual Property</h2>
<p>
	All content and materials on our website, including but not limited to text, graphics, logos, images, and software, are the property of Surv Technologies LLC or its licensors and are protected by copyright and other intellectual property laws.
</p>

<h2>Privacy</h2>
<p>
	We collect, use, and share your personal information in accordance with our Privacy Policy, which is incorporated into these TOS.
</p>

<h2>Disclaimers and Limitations of Liability</h2>
<p>
	Our website and services are provided on an “as is” and “as available” basis, without any warranties of any kind, either express or implied. We do not guarantee the accuracy, completeness, or timeliness of any content or information on our website, and we are not responsible for any errors or omissions. We are not liable for any damages arising from your use of our website or services.
</p>

<h2>Indemnification</h2>
<p>
	You agree to indemnify and hold Surv Technologies LLC harmless from any claims, damages, liabilities, and expenses arising from your use of our website or services or your violation of these TOS.
</p>

<h2>Termination</h2>
<p>
	We reserve the right to terminate or suspend your access to our website or services at any time, without prior notice or liability, for any reason, including if we believe that you have violated these TOS.
</p>

<h2>Changes to these TOS</h2>
<p>
	We may update these TOS from time to time. The updated TOS will be posted on our website, and we will notify you of any material changes.
</p>

<h2>Governing Law</h2>
<p>
	These TOS are governed by and construed in accordance with the laws of United States, and any dispute arising from these TOS will be resolved in the courts of United States.
</p>

<h2>Contact Us</h2>
<p>
	If you have any questions or concerns about these TOS, please contact us at info[at]surv.cloud.
</p>

        </div>
      </div>
    </div>
  </div>