<%- include('partials/header') %>

<!-- About Start -->
<div class="row bg-white">
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="row g-0 about-bg rounded overflow-hidden">
          <div class="col-6 text-start">
            <img class="img-fluid w-100" src="img/about-1.jpg" />
          </div>
          <div class="col-6 text-start">
            <img
              class="img-fluid"
              src="img/about-2.jpg"
              style="width: 85%; margin-top: 15%"
            />
          </div>
          <div class="col-6 text-end">
            <img class="img-fluid" src="img/about-3.jpg" style="width: 85%" />
          </div>
          <div class="col-6 text-end">
            <img class="img-fluid w-100" src="img/about-4.jpg" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <h1 class="mb-4">We Help To Get The Best Job And Find A Talent</h1>
        <p class="mb-4">
          At SurvCloud, we understand the unique challenges and opportunities
          that come with remote work. We are a team of experts in remote hiring,
          with years of experience matching top talent with the best companies.
        </p>
        <p>
          Our mission is to bridge the gap between remote workers and companies
          by providing a platform that connects them seamlessly. We believe that
          remote work is the future, and we are committed to making it
          accessible and beneficial for both employers and employees.
        </p>
        <p>
          We carefully curate and screen job postings to ensure that only the
          best remote job opportunities are available on our platform. We also
          offer resources and tips for remote job seekers, including advice on
          how to succeed in a remote role and how to thrive as a remote team
          member.
        </p>
        <p>
          Our team of professionals is dedicated to providing excellent customer
          service and support to both job seekers and employers. We are
          passionate about remote work, and we take pride in our ability to
          bring the best talent and companies together in a mutually beneficial
          partnership.
        </p>
        <p>
          Whether you're a remote job seeker looking for your next opportunity
          or an employer seeking top talent, SurvCloud is the ultimate
          destination for remote work. Join our community today and experience
          the future of work!
        </p>
        <p>
          <i class="fa fa-check text-primary me-3"></i>Competent Developers
        </p>
        <p>
          <i class="fa fa-check text-primary me-3"></i>Vetted and screened companies
        </p>
        <p>
          <i class="fa fa-check text-primary me-3"></i>Cloudyfying the world
        </p>
        <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
      </div>
    </div>
  </div>
</div>
</div>
<!-- About End -->

<%- include('partials/footer') %>
